{{define "content"}}
    <h2>Config Detail</h2>
    <div class="card-body">
        <div class="card-title">Config</div>
        <div class="card-text">
            <pre>{{.}}</pre>
        </div>
    </div>

{{end}}